<div class="flashcard-deck-container">

    <div class="score-info animate-drop-in" *ngIf="!isGameOver">
        <div class="score-part">
            <span class="points-label">Score</span>
            <span class="points-value">
                {{ answeredCorrectCount }} <fa-icon class="icon" [icon]="faTrophy"></fa-icon>
            </span>
        </div>

        <div class="timer-part" [class.danger]="globalTimeLeft <= 10">
            <span class="points-label">Time</span>
            <span class="points-value">
                <i class="fa-solid fa-hourglass-half"></i> {{ formattedTime }}
            </span>
        </div>
    </div>

    <div class="flashcard-deck animate-slide-in" *ngIf="!isGameOver && flashcards.length > 0">
        <app-flashcard [category]="flashcards[currentCardIndex].category"
            [question]="flashcards[currentCardIndex].question" [options]="flashcards[currentCardIndex].options"
            [correctAnswerIndex]="flashcards[currentCardIndex].correctAnswerIndex"
            [points]="flashcards[currentCardIndex].points" [hint]="flashcards[currentCardIndex].hint"
            [newGame]="newGame" (answeredCorrect)="takeAnsweredCorrectCount($event)" (answered)="nextCard()"
            (hintUsedCost)="applyHintPenalty($event)">
        </app-flashcard>

        <div class="deck-actions">
            <button class="action-btn skip" (click)="skipCard()">
                Skip ( -3 <fa-icon class="icon" [icon]="faTrophy"></fa-icon>) <fa-icon class="icon" [icon]="faArrowRight"></fa-icon>
            </button>
            <button class="action-btn end-game" (click)="endGameEarly()">
                End Game <fa-icon class="icon" [icon]="faFlagCheckered"></fa-icon>
            </button>
        </div>
    </div>

    <div *ngIf="flashcards.length === 0" class="animate-drop-in" style="margin-top: 20px;">
        <h3>No cards found for this category!</h3>
    </div>

    <div class="final-score-section animate-scale-up" *ngIf="isGameOver">
        <app-final-score [score]="answeredCorrectCount" [skippedCount]="skippedCount" [hintPenalty]="hintPenalty"
            (playAgainSame)="handlePlayAgainSame()" (startNewGame)="handleStartNewGame()">
        </app-final-score>
    </div>
</div>