<div class="top-right-controls">
  <button class="theme-toggle" (click)="toggleTheme()"
    [title]="isDarkTheme ? ('APP.SWITCH_LIGHT' | translate) : ('APP.SWITCH_DARK' | translate)">
    <i class="fa-solid fa-sun" *ngIf="isDarkTheme"></i>
    <i class="fa-solid fa-moon" *ngIf="!isDarkTheme"></i>
  </button>

  <button class="theme-toggle" (click)="audioService.toggleSound()">
    <i class="fa-solid fa-volume-high" *ngIf="audioService.isSoundEnabled"></i>
    <i class="fa-solid fa-volume-xmark" *ngIf="!audioService.isSoundEnabled" style="opacity: 0.5;"></i>
  </button>

  <div class="lang-switcher-container" #langSwitcher>
    <button class="lang-toggle" (click)="toggleLangMenu()" [title]="'APP.CHANGE_LANG' | translate">
      <img [src]="currentFlagUrl" alt="flag" class="flag-icon">
      <span class="code">{{ currentLang }}</span>
      <i class="fa-solid fa-chevron-down caret" [class.open]="isLangMenuOpen"></i>
    </button>

    <div class="lang-dropdown animate-fade-in" *ngIf="isLangMenuOpen">
      <div class="lang-option" *ngFor="let lang of supportedLanguages" [class.active]="lang.code === currentLang"
        (click)="setLanguage(lang)">
        <img [src]="lang.flagUrl" alt="flag" class="flag-icon">
        <span class="code">{{ lang.code }}</span>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>